
h1 {
    color: white;
    background-color: black;
    font-family: cursive;
    margin-bottom: 5px;
    padding-left: 20px;
    
}
h2 {
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-family: sans-serif;
    margin-top: 5px;
}
h3 {
    background-color: lightsteelblue;
    text-align: right;
    text-decoration: underline;
    font-weight: 200;
    font-family: sans-serif;
    margin-top: -14px;
    
}
.purple{
    color:turquoise;
}